body{
    background-color:#436B95;
}

tr p{
    font-size:22px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight:100;
    color:black;
}

h2{
    color:black;
    font-weight:100;
    text-transform:uppercase;
}

li{
    font-size:22px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight:100;
    color:black;
}

img{
     width:600px;
     height:400px;
    
}

h1{
    font-family: 'Balsamiq Sans', cursive;
    font-weight:100;
    color:black;
}
.myheader{
  text-align: center;
  background-image:url(https://image.shutterstock.com/image-photo/colorful-hot-air-balloons-flying-260nw-1033306540.jpg
);
background-repeat:no-repeat;
background-size:100%;
}
.profile{
    border-radius:50%;
}

.carousel-item {
height: 500px;
text-align: center;
font-size:22px;
}

.item1 {
 
  margin:0;
  text-align:center;
  height: 500px;
  background-image:url(https://image.shutterstock.com/image-photo/colorful-hot-air-balloons-flying-260nw-1033306540.jpg);
background-repeat:no-repeat;
background-size:100%;
}

.item2 {
  margin:0;
  text-align:center;
  
  background-image:url(https://image.shutterstock.com/image-photo/colorful-hot-air-balloons-flying-260nw-1033306540.jpg);
background-repeat:no-repeat;
background-size:100%;
  height: 500px;
}

.item3 {
  
  margin:0;
  text-align:center;
  background-image:url(https://image.shutterstock.com/image-photo/colorful-hot-air-balloons-flying-260nw-1033306540.jpg);
background-repeat:no-repeat;
background-size:100%;
  height: 500px;
}

.about{
  background-color:#4db6ac;
  text-align:center;
  font-size:22px;
  font-style:italic;
  font-weight:100;
}
.education{
  background-color:#f06292;
  text-align:center;
  font-size:22px;
  font-style:italic;
  font-weight:100;
}
.contact{
  background-color:#ba68c8;
  text-align:center;
  font-size:22px;
  font-style:italic;
  font-weight:100;
}